{% extends "base.html" %}
{% block content %}
    <div class = "container">
        <h2>Всі кімнати</h2>
        <ul>
            {% for room in rooms %}

            <li>{{room}} коштує {{room.cost_per_day}} доларів на день. Ця кімната предназначена для {{room.capacity}} людей</li>
            <a href="{% url 'room_detail' room.id %}"> Дізнатися більше</a>


            {% if room.room_image %}

                <p><img src="{{ room.room_image.url }}" alt="Photo"></p>

            {% endif %}

            {% endfor %}




        </ul>
    </div>
{% endblock %}